.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 20px;
}

.form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.tasks {
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.task {
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    width: 70%;
}

.body-header {
    color: darkviolet;
    width: 60%;
    display: flex;
    align-items: center;
}